*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    margin-bottom: 1rem;
    margin-top: 0;
}
#header{
    background-color: #ffffff;
 
}

#header .nav-item.active .nav-link{
    color: #1aabdb;
}

#header .nav-link:hover{
     color: #1aabdb;
}

#header .nav-item.last .nav-link{
    background-color: #28d1dd;
    border-radius: 28px;
    color: #ffffff;
}

#header .nav-link{
    color: #626262;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    outline: none;
    padding: 8px 16px;
    text-align: center;
}

/* blog */
.blog__content img{
    width: 100%;
}

.blog_text{
    transform: translateY(-70px);
    margin-left: 30px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
    word-spacing: 2px;
}
/* pagination */
.page-link{
    border-radius: 50%;
    margin-left: 10px;
    border: none;
}
.page-link:hover{
  background-color: #098acd;
  color: #FFFFFF;
}
.page_hover:hover{
   background-color: #ffffff;
   color: #098acd;
}

/* footer */
#footer{
    background-color: rgba(229, 229, 234, 0.34);
    color: #0a142f;
    padding: 45px 0;
}
#footer ul{
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 90%;
}
#footer hr{
    background-color: #bdbdbd;
    border-width: 0;
    color: #bdbdbd;
    height: 2px;
    margin: 45px auto;
    width: 70%;
}
#footer ul{
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 90%;
}

#footer li{
    display: inline-block;
    margin: 0 5px;
}
#footer span{
    font-size: 14px;
    line-height: 18px;
}
#footer a{
    color: #0a142f;
}
#footer i{
    color: #098acd;
    font-size: 18px;
    margin-right: 10px;
}
#footer h6{
    color: #626262;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
}