/* header */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

p{
    margin-bottom: 1rem;
    margin-top: 0;
}
#header{
    background-color: #ffffff;
}

#header .nav-item.active .nav-link{
    color: #1aabdb;
}

#header .nav-link:hover{
     color: #1aabdb;
}

#header .nav-item.last .nav-link{
    background-color: #28d1dd;
    border-radius: 28px;
    color: #ffffff;
}

#header .nav-link{
    color: #626262;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    outline: none;
    padding: 8px 16px;
    text-align: center;
}
/* banner */
.banner img{
    width: 100%;
    height: 400px;
}
.banner__content{
    margin-top: 85px;
}

.banner__content img{
    margin-top: 40px;
}
.end__banner{
    font-size: 15px;
}
.end__banner li{
    margin-left: 30px;
}
.text__banner h2{
    color:#4E4E4E;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.text__banner p{
    color: #757879;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    height: 78px;
    text-transform: capitalize; 
    text-align: justify; 
}
.text__banner p:first-of-type{
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 33px;
    font-size: 18px;
}
.text__banner hr{
    margin: -15px 0 33px 0;
    border-top: 1px solid #C4C4C4; 
}
.text__banner{
    margin-top: 86px;
}

.text__content h1{
    font-weight: 700;
    color: #757879;
    line-height: 43px;
    font-size: 35px;
}
.text_bog span:first-child{
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #757879 ;
}
.text__container{
    text-align: justify;
}
.text__container li{
    margin-left: 25px;
    font-size: 15px;
    line-height: 22px;
}
.text__container p {
    font-size: 15px;
    line-height: 22px;
}


.verticalLine {
    border-left: 1px solid #757879;
    margin-left: 10px;
    padding-left: 10px;
    color: #757879;
    font-size: 15px;
  }

.button__banner button{
    margin-right: 15px ;
    color: #8C8C8C;
    width: 150px;
    border: none;
    border-radius: 20px;
    outline: none;
    height: 30px;
    text-transform: lowercase;
}

/* Footer */
#footer{
    background-color: rgba(229, 229, 234, 0.34);
    color: #0a142f;
    padding: 45px 0;
}


#footer ul{
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 90%;
}
#footer hr{
    background-color: #bdbdbd;
    border-width: 0;
    color: #bdbdbd;
    height: 2px;
    margin: 45px auto;
    width: 70%;
}
#footer ul{
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 90%;
}

#footer li{
    display: inline-block;
    margin: 0 5px;
}
#footer span{
    font-size: 14px;
    line-height: 18px;
}
#footer a{
    color: #0a142f;
}
#footer i{
    color: #098acd;
    font-size: 18px;
    margin-right: 10px;
}
#footer h6{
    color: #626262;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
}